.bgHeadColor {
	content:url("nytlogo.png");
	color:red;
	width: 100%;
	padding-left:10%;
	padding-right:10%;
    border-bottom-color: black;
    border-bottom-style: double;
    border-bottom-width:11px;
};

.submitButton{
	text-align: center
};

.topicBG{
	background-color: red;
}

.search-bar{
	text-align: center;
}

.search-button{
  top: 60%;
  text-align: center;
  width: 100%;
  font-family: 'Tangerine', cursive;
  font-size:25px;
  font-weight: bold;
}

.title-bar{
	background-color: black;
	color: white;
}



.panel-primary>.panel-heading{
	background-color: #e3e3e3;
	border-color: #e3e3e3;
	border-color: #fe8f02;
}

.panel-warning>.panel-heading{
	background-color: #e3e3e3;
	border-color: #e3e3e3;
	color: white;
}

.panel-success>.panel-heading {
    color: white;
    background-color: #e3e3e3;
	border-color: #e3e3e3;
}

.panel-body-search{
	padding: 15px;
	border-color: black;
	border-style: solid;
	border-width: 8px;
}	

.panel-primary-yellow{
	border-color: #fe8f02;
	border-width: 4px;
}